.main__results {
  margin: 0 auto;
  width: 100%;
  max-width: 1250px;
  padding: 15px;
  box-sizing: border-box;
  display: grid;
  gap: 28px;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;

  @media (max-width: 1170px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 880px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 590px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.main__start {
  padding-top: 50px;
  text-align: center;
  font-size: 30px;
}
