<header>
  <div></div>
  <div class="header__search_block">
    <div class="header__search">
      <div class="search__logo"></div>
      <div class="search__controls">
        <form (submit)="handleFind()">
          <input
            name="search"
            type="text"
            [(ngModel)]="value"
            placeholder="What are you want to find out?"
          />
          <button type="submit">search</button>
        </form>
      </div>
      <button class="search__setting" (click)="handleShowSort()">
        <div class="setting__icon"></div>
      </button>
    </div>
    @if (showSort) {
    <div class="header__sort">
      Sorting by:
      <button
        [ngClass]="{
          active: activeSortDate,
          asc: ascDate,
          desc: descDate
        }"
        (click)="handleClickSortDate()"
      >
        date
      </button>
      <button
        [ngClass]="{
          active: activeSortView,
          asc: ascView,
          desc: descView
        }"
        (click)="handleClickSortView()"
      >
        count of views
      </button>
      <div class="sort__filter_content">
        <label for="filter">by word or sentance</label>
        <input type="text" id="filter" [(ngModel)]="extraValue" />
      </div>
    </div>
    }
  </div>
  <div class="header__user">
    <p class="user__text">
      {{ user }}
    </p>
    <div class="user__icon"></div>
  </div>
</header>
