<form [formGroup]="form" class="form" (submit)="handleSubmit()">
  <h2 class="form__title">Login</h2>
  <div class="form__login">
    <label for="login" class="login__label">login</label>
    <input
      type="text"
      id="login"
      class="login__input"
      formControlName="login"
    />
    <div
      class="line"
      [ngClass]="{
        valid: form.controls.login.valid && form.controls.login.touched,
        invalid: form.controls.login.invalid && form.controls.login.touched,
      }"
    ></div>
    @if (form.controls["login"].value?.length === 0) {
      <div class="start">Please enter a login email</div>
    }
    @if (form.controls["login"].errors?.["pattern"]) {
      <div class="alert">The login email is invalid</div>
    }
  </div>
  <div class="form__password">
    <label for="password" class="password__label">password</label>
    <input
      type="password"
      id="password"
      class="password__input"
      formControlName="password"
    />
    <div
      class="line"
      [ngClass]="{
        valid: form.controls.password.valid && form.controls.password.touched,
        invalid:
          form.controls.password.invalid && form.controls.password.touched,
      }"
    ></div>
    @if (form.controls["password"].value?.length === 0) {
      <div class="start">Please enter a password</div>
    } @else {
      @for (error of errorsMessage(); track error.errorValid) {
        <div class="alert">
          {{ error.message }}
        </div>
      }
    }
  </div>
  <app-custom-button
    class="form__button"
    [type]="'submit'"
    [disabled]="form.invalid"
    >Login</app-custom-button
  >
</form>
