header {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  max-width: 1440px;
  padding: 15px;
  box-sizing: border-box;
  background-color: #e5e5e5;

  @media (max-width: 590px) {
    flex-direction: column;
    align-items: center;
  }
}

.header__search_block {
  width: 100%;
  max-width: 570px;
  display: flex;
  flex-direction: column;
}

.header__search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 570px;
}

.search__logo {
  width: 50px;
  height: 50px;
  background: url(../../../assets/logo.svg) center no-repeat;
  background-size: contain;
  flex-shrink: 0;
  border: none;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }

  @media (max-width: 590px) {
    width: 25px;
    height: 25px;
  }
}

.search__setting {
  width: 24px;
  height: 24px;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 0px 3px #2f80ed;
  flex-shrink: 0;
  margin-right: 10px;

  &:hover {
    transform: scale(1.05);
  }

  .setting__icon {
    width: 24px;
    height: 24px;
    background: url(../../../assets/search_settings.svg) center no-repeat;
  }
}

form {
  width: 100%;
}

.search__controls {
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  box-sizing: border-box;

  input {
    width: 100%;
    outline: none;
    border: none;
    height: 24px;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    padding: 5px;
    box-sizing: border-box;

    @media (max-width: 590px) {
      width: 100%;
    }
  }

  button {
    color: #ffffff;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    background-color: #2f80ed;
    border: none;
    width: 80px;
    height: 24px;
    box-shadow: 1px 0px 3px #2f80ed;

    &:hover {
      background-color: #60a5fa;
    }

    @media (max-width: 590px) {
      width: 50px;
    }
  }
}

.header__user {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  margin-top: 13px;

  .user__text {
    margin-right: 8px;
    margin-bottom: 0;
    color: #4f4f4f;
    font-family: Roboto, sans-serif;
    font-size: 12px;
  }

  .user__icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: url(../../../assets/user_icon.svg) center no-repeat;
    border-radius: 5px;
    box-shadow: 1px 0px 3px #2f80ed;
    flex-shrink: 0;

    &:hover {
      transform: scale(1.05);
    }
  }

  .user__logout {
    cursor: pointer;
    height: 24px;
    border-radius: 5px;
    font-size: 12px;
    color: #ffffff;
    background-color: #2f80ed;
    border: none;
    box-shadow: 1px 0px 3px #2f80ed;
    margin-left: 8px;

    &:hover {
      background-color: #85b9ff;
    }
  }
}

.header__sort {
  color: #4f4f4f;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 570px;

  @media (max-width: 590px) {
    flex-wrap: wrap;
  }

  button {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
    cursor: pointer;
    color: #2f80ed;
    text-decoration: underline;

    &:hover {
      color: #4338ca;
    }

    &.active {
      color: #4338ca;
    }

    &.desc::after {
      content: "↓";
      font-weight: 300;
      margin-left: 3px;
      display: inline-block;
      font-size: 12px;
    }

    &.asc::after {
      content: "↑";
      font-weight: 300;
      margin-left: 3px;
      display: inline-block;
      font-size: 12px;
    }
  }

  .sort__filter_content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 277px;
    align-items: center;

    label {
      cursor: pointer;
      color: #2f80ed;
      margin-right: 10px;

      &:hover {
        color: #4338ca;
      }
    }

    label {
      flex-shrink: 0;
    }

    input {
      width: 100%;
      max-width: 149px;
      outline: none;
      border: none;
      height: 13px;
      font-family: Roboto, sans-serif;
      font-size: 12px;
      padding-left: 5px;
      box-sizing: border-box;
    }
  }
}
