<header>
  <div></div>
  <div class="header__search_block">
    <div class="header__search">
      <app-custom-button
        class="search__logo"
        (clickCustomEvent)="handleClickLogo()"
      >
      </app-custom-button>
      <div class="search__controls">
        <form>
          <input
            name="search"
            type="text"
            [(ngModel)]="value"
            placeholder="What are you want to find out?"
            (input)="handleFind()"
          />
        </form>
      </div>
      <app-custom-button
        class="search__setting"
        (clickCustomEvent)="handleShowSort()"
        ><div class="setting__icon"></div
      ></app-custom-button>
    </div>
    @if (showSort) {
      <div class="header__sort">
        Sorting by:
        <app-custom-button class="button" (clickCustomEvent)="handleClickSortDate()"
          ><p
            class="button__content"
            [ngClass]="{
              active: sortVideoService.sort.activeSortDate,
              asc: sortVideoService.sort.ascDate,
              desc: sortVideoService.sort.descDate,
            }"
          >
            date
          </p></app-custom-button
        >
        <app-custom-button class="button" (clickCustomEvent)="handleClickSortView()"
          ><p
            class="button__content"
            [ngClass]="{
              active: sortVideoService.sort.activeSortView,
              asc: sortVideoService.sort.ascView,
              desc: sortVideoService.sort.descView,
            }"
          >
            count of views
          </p></app-custom-button
        >
        <div class="sort__filter_content">
          <label for="filter">by word or sentence</label>
          <input
            type="text"
            id="filter"
            [(ngModel)]="extraValue"
            (input)="handleInputWord()"
          />
        </div>
      </div>
    }
  </div>
  <div class="header__user">
    <p class="user__text" [title]="loginService.user">
      {{ loginService.user | sliceTitle: 9 }}
    </p>
    <app-custom-button class="user__icon"></app-custom-button>
    @if (loginService.isLogin$ | async) {
      <app-custom-button class="user__logout" (clickCustomEvent)="handleClickLogout()"
        >Logout</app-custom-button
      >
    } @else {
      <app-custom-button class="user__logout" (clickCustomEvent)="handleClickLogin()"
        >Login</app-custom-button
      >
    }
  </div>
</header>
